.margin {
  width: 1200px;
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.colorHong:hover {
  color: #e13358; }

.ml10 {
  margin-left: 10px; }

#top {
  height: 30px;
  line-height: 29px;
  color: #888;
  position: relative;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eaeaea; }
  #top .user a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 10px; }
    #top .user a i {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 8px; }
      #top .user a i.sc {
        background: url("../assets/images/collection.png") no-repeat center;
        background-size: 155%; }
      #top .user a i.sy {
        background: url("../assets/images/home.png") no-repeat center;
        background-size: 155%; }
  #top .top-fr-list {
    width: 402px; }
    #top .top-fr-list .topnav li {
      padding: 0 12px;
      position: relative; }
      #top .top-fr-list .topnav li.dblock dd {
        display: none;
        background: #fff;
        border: 1px solid #ddd;
        position: absolute;
        top: 30px;
        left: -2px;
        z-index: 1; }

#header {
  background: #fff;
  border-bottom: 2px solid #e13358;
  height: 107px;
  width: 100%; }
  #header .wraper {
    height: 101px;
    position: relative; }
    #header .wraper a {
      display: inline-block;
      position: absolute;
      color: #666; }
      #header .wraper a.logo {
        width: 162px;
        height: 52px;
        top: 29px; }
    #header .wraper .step {
      overflow: hidden;
      height: 60px;
      width: 538px;
      margin-top: 28px;
      background: url("https://ssl.kjt.com/Resources/themes/default/Nest/img/step_shopping_cart.png") no-repeat; }

#main .pr {
  position: relative; }

#main .go {
  position: absolute;
  top: -50px;
  right: 100px;
  background: #e13358;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center; }
  #main .go a {
    color: #fff;
    display: block;
    width: 80px;
    height: 30px; }

#main table {
  margin-top: 70px;
  margin-bottom: 30px; }
  #main table thead {
    line-height: 30px;
    text-align: center;
    background: #c40000;
    color: #fff; }
    #main table thead tr th {
      border: 1px solid #000; }
  #main table tbody {
    background: #fff; }
    #main table tbody tr td {
      width: 0px;
      padding: 0 10px;
      border-bottom: 1px solid #eee; }
      #main table tbody tr td img {
        display: inline-block;
        width: 250px;
        height: 250px; }
      #main table tbody tr td:nth-child(1) {
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        text-align: center;
        width: 70px; }
      #main table tbody tr td:nth-child(2) {
        width: 250px;
        height: 200px; }
      #main table tbody tr td:nth-child(3) {
        width: 200px;
        text-align: center; }
      #main table tbody tr td:nth-child(4) {
        width: 120px; }
      #main table tbody tr td:nth-child(5) {
        width: 80px; }
      #main table tbody tr td:nth-child(6) {
        width: 80px; }
      #main table tbody tr td:nth-child(7) {
        width: 80px;
        cursor: pointer;
        text-align: center;
        background: #ca4545;
        color: #fff; }
  #main table tfoot {
    line-height: 30px;
    text-align: center;
    background: #c40000;
    color: #fff; }
    #main table tfoot td:nth-child(2) {
      background: #fff;
      color: #666; }

#footer {
  padding: 0 0 20px;
  background-color: #fff;
  border-top: 1px solid #f1f1f1;
  text-align: center; }
  #footer .wraper {
    position: relative; }
  #footer .aside {
    margin-top: 35px;
    border-top: 1px solid #ebebeb;
    color: #999; }
    #footer .aside .wraper {
      margin-top: -1px;
      background-color: #fff;
      border-top: 1px solid #ebebeb;
      padding-top: 20px; }
      #footer .aside .wraper p {
        margin-top: 20px;
        padding-bottom: 3px; }
  #footer .footerIcon .item7 {
    background-position: left -276px;
    width: 126px;
    height: 45px;
    display: inline-block;
    background: url("http://www.kjt.com/Resources/themes/default/Nest/img/certi.png") no-repeat;
    font-size: 0; }
