.margin {
  width: 1200px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.mt5 {
  margin-top: 5px;
}
.fz14 {
  font-size: 14px;
}
.tc {
  text-align: center;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}

// top

#top {
  height: 30px;
  color: #888;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  a {
    color: #999;
    line-height: 30px;
  }
  .sc {
    margin: 0 5px;
  }
  .sy {
    margin: 0 10px;
  }
  .top-fr-list {
    ul {
      li {
        margin: 0 8px;
      }
    }
  }
}
.topnav {
  .expand {
    position: relative;
    dd {
      display: none;
      background: #fff;
      position: absolute;
      left: -6px;
      top: 32px;
      width: 65px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
      border: 1px solid #f5f5f5;
      border-top: none;
      margin-left: -1px;
      z-index: 1;
    }
  }
}
// header 部分
header {
  height: 100px;
  position: relative;
  .headerLogo {
    height: 100%;
    width: 256px;
    position: relative;
    a {
      &.logo {
        display: block;
        width: 162px;
        height: 52px;
        margin-top: -25px;
        overflow: hidden;
        position: absolute;
        left: 44px;
        top: 50%;
      }
    }
  }
  .search {
    height: 39px;
    width: 464px;
    position: absolute;
    left: 365px;
    top: 20px;
    .form {
      border: solid 2px #ff5252;
      height: 40px;
      line-height: 40px;
      position: relative;
      border-radius: 2px;
      .inselect {
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        background: #f5f5f5;
        border-right: 1px solid #e5e5e5;
        box-sizing: content-box;
        .inselect-item {
          span {
            padding-left: 20px;
            color: #909090;
            cursor: pointer;
          }
        }
      }
      .intxt {
        width: 325px;
        height: 36px;
        line-height: 26px;
        position: absolute;
        right: 60px;
      }
      .search-form-r {
        display: block;
        width: 60px;
        text-align: center;
        background: #f13333;
        color: #fff;
        position: absolute;
        right: 0;
      }
    }
  }
  .draw-qr-box {
    position: absolute;
    top: 20px;
    right: 175px;
    height: 76px;
  }
  .cartBar {
    cursor: pointer;
    background-color: #f5f5f5;
    border: solid 1px #ddd;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 14px;
    color: #da2626;
    & > em {
      height: 100%;
      padding-right: 5px;
    }
    & > p {
      float: left;
      height: 16px;
      line-height: 16px;
      margin-top: 11px;
      em {
        position: absolute;
        top: -8px;
        right: 0;
        padding: 2px 5px;
        line-height: 1;
        border-radius: 8px;
        background-color: #f02929;
        color: #fff;
        font-size: 12px;
        overflow: hidden;
      }
    }
  }
}
.search {
  .hot {
    position: absolute;
    left: 18px;
    top: 50px;
    height: 18px;
    overflow: hidden;
    width: 500px;
    zoom: 1;
    line-height: 1.5;
    margin-left: -8px;
    a {
      color: #999;
    }
  }
}
// 二维码
.draw-qr-box {
  .qr-box {
    float: left;
    width: auto;
    cursor: pointer;
    width: 125px;
    .qr-text {
      float: left;
      text-align: right;
    }
    h4 {
      font-size: 12px;
      font-weight: 700;
      color: #000;
    }
    p {
      font-size: 12px;
      color: #999;
    }
  }
}

// 购物车
  


// 顶部导航
.menu {
  min-width: 1200px;
  // z-index: 80;
  position: relative;
  border-top: 1px solid #eaeaea;
  border-bottom: 3px solid #f72a2a;
  background-color: #f5f5f5;
  // 左
  .nav-side {
    background-color: #ccc;
    float: left;
    height: 42px;
    position: relative;
    width: 216px;
    margin-top: -1px;
    // 左-上
    .navTitle {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      background-color: #da2626;
      color: #fff;
      float: left;
      font-size: 16px;
      height: 42px;
      line-height: 42px;
      overflow: hidden;
      padding: 0 86px;
      width: 70px;
    }
    // 左-下
    .navTagBar {
      position: absolute;
      left: 0;
      top: 43px;
      width: 100%;
      z-index: 2;
      .navTag {
        height: 60px;
        position: relative;
        width: 100%;
        dl {
          background-color: rgba(67, 69, 77, .9);
          cursor: default;
          display: block;
          height: 56px;
          padding: 6px 15px 0 40px;
          position: relative;
          width: 187px;
          z-index: 2;
          dt {
            color: #fff;
            height: 24px;
            line-height: 24px;
            position: relative;
            width: 100%;
            a {
              color: #fff;
              font-size: 15px;
              height: 24px;
            }
          }
          dd {
            font-size: 12px;
            height: 24px;
            line-height: 24px;
            overflow: hidden;
            width: 167px;
            a {
              color: #fff;
              opacity: 0.8;
              margin-right: 5px;
            }
          }
        }
        &.fullWidth .navCon {
          width: 984px;
          .list_wrap {
            width: 662px;
          }
        }
        .navCon {
          background-color: #f1f1f1;
          cursor: default;
          display: none;
          height: 490px;
          position: absolute;
          left: 242px;
          top: 0;
          width: 984px;
          z-index: 1;
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);
          &.navCon1 {
            top:0;
            // display: block;
          }
          &.navCon2 {
            top:-60px;
          }
          &.navCon3 {
            top:-120px;
          }
          &.navCon4 {
            top:-180px;
          }
          &.navCon5 {
            top:-240px;
          }
          &.navCon6 {
            top:-300px;
          }
          &.navCon7 {
            top:-360px;
          }
          &.navCon8 {
            top:-420px;
          }
          .list_wrap {
            float: left;
            width: 662px;
            min-height: 480px;
            overflow: hidden;
            background-color: #f1f1f1;
            dl {
              border-top: solid 1px #f2f2f2;
              float: right;
              width: 632px;
              height: 18px;
              background-color: #fff;
              padding: 15px;
              a {
                color: #555;
              }
              dt {
                color: #fff;
                height: 24px;
                line-height: 24px;
                position: relative;
                width: 100px;
                float: left;
              }
              dd {
                font-size: 12px;
                height: 24px;
                line-height: 24px;
                overflow: hidden;
                width: 420px;
                float: left;
              }
              &.flrst {
                border: none;
              }
            }
          }
          .nav_ban_warp {
            float: right;
            width: 290px;
            min-height: 460px;
            background-color: #f1f1f1;
            padding: 15px;
            ul {
              li {
                float: left;
                padding: 3px 3px;
                img {
                  width: 138px;
                  height: 80px;
                }
              }
            }
          }
        }
      }

    }
  }
  // 中
  .navigation {
    height: 38px;
    line-height: 38px;
    padding: 0;
    position: absolute;
    left: 405px;
    ul {
      li {
        float: left;
        height: 100%;
        padding-left: 1px;
        white-space: nowrap;
        position: relative;
        .item {
          display: inline-block;
          padding: 0 24px;
          font-family: "microsoft yahei", Arial;
          position: relative;
          font-size: 16px;
          color: #333;
        }
        .red {
          color: red;
        }
      }
    }
  }
  // 右 
  ._account_phone {
    float: right;
    color: #cc1f1f;
    margin-top: 13px;
    overflow: hidden;
    line-height: 1;
    span {
      font-size: 16px;
      color: #cc1f1f;
      margin-top: -1px;
      vertical-align: middle;
      display: inline-block;
      }
  }
}

// 轮播图
.box {
  &.banner {

  }
  height: 480px;
  overflow: hidden;
  position: relative;
  width: 100%;
  // z-index: 1;
  
  .items {
    width: 100%;
    height: 480px;
    position: relative;
    img {
      position: absolute; 
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      &:nth-child(1) {
        display: block;
      }
    }
  }
  .controls {
    button{
      background: #444;
      border: none;
      opacity: 0.6;
      color: #ccc;
    }
    .prev {
      width: 56px;
      height: 62px; 
      border-radius: 50%;
      position: absolute;
      left:-20px; 
      top: 50%;
      transform: translateY(-50%);
      padding-left: 20px;
    }
    .next {
      width: 56px;
      height: 62px; 
      border-radius: 50%;
      position: absolute;
      right:-20px; 
      top: 50%;
      transform: translateY(-50%);
      padding-right: 20px;
    }
  }
  .points {
    position: absolute;bottom:20px;
    left: 50%;
    transform: translateX(-50%);
    li {
      width: 15px;
      display: inline-block;
      height: 15px;
      border-radius: 50%;
      background-color: #fff;
      margin: 3px;
      &.active {
        background-color: #f66;
      }
    }
  }
}

// main
.main {
  padding-top: 30px;
  background: #f5f5f5;
  .main-title {
    text-align: left;
    padding: 0 0 14px;
    line-height: 1;
    .m-title {
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 1px;
        width: 5px;
        height: 100%;
        background-color: #f72a2a;
      }
      display: inline-block;
      font-size: 20px;
      color: #333;
      position: relative;
      padding-left: 15px; 
    }
  } 

  
  // 国家馆
  .main-gjg {
    height: 420px;
    .main-tab-box {
      .tab-hd {
        width: 1200px;
        .item {
          float: left;
          width: 239px;
          border-right: 1px solid #f5f5f5;
          height: 40px;
          line-height: 40px;
          background-color: #ff5252;
          font-size: 16px;
          text-align: center;
          color: #fff;
          &.active {
            position: relative;
            width: 239px;
            background-color: #fff;
            color: #ff5252;
            &:after {
              content: "";
              position: absolute;
              top: -3px;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: #ff5252;
            }
          }
        }
      }
      .tab-bd {
        .item {
          display: none;
          position: relative;   
          &.selected{
            display: block;
          }
          .pro-list-p {
            padding: 20px 0;
            background-color: #fff;
            li {
              float: left;
              width: 214px;
              height: 300px;
              padding: 3px 13px;
              .inner {
                width: 100%;
                height: 100%;
                padding: 10px;
                transition: .4s;
                .img-wrap {
                  img {
                    height: 194px;
                    width: 194px;
                  }
                }
                a {
                  color: #666;
                }
                .pro-name {
                  margin:10px 0;
                  
                }
                .pro-price {
                  .price-now {
                    font-size: 16px;
                    color: #ff2b2b;
                    margin-right: 10px;
                  }
                  .price-old {
                    font-size: 14px;
                    color: #aaa;
                    text-decoration: line-through;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  // 美妆个护
  .main-mzgh {
    padding-top: 30px;
    .main-mzgh-box {
      height: 400px;
      margin-bottom:30px;
      .main-mzgh-l {
        height: 400px;
        width:300px;
        a {
          width: 300px;
          img {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
      }
      .main-mzgh-r {
        width: 900px;
        height: 400px;
        a {
          width: 299px;
          height: 199px;
          float: left;
          margin-bottom: 1px;
          margin-right: 1px;
          img {
            width: 299px;
            height: 199px;
            display: block; 
            box-shadow: 0 0 2px #ccc; 
          }
        }
      }
    }
  }
  // 母婴用品
  .main-myyp {
    .main-myyp-box {
      height: 400px;
      margin-bottom:30px;
      .main-myyp-l {
        height: 400px;
        width:300px;
        a {
          width: 300px;
          img {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
      }
      .main-myyp-r {
        width: 900px;
        height: 400px;
        a {
          width: 299px;
          height: 199px;
          float: left;
          margin-bottom: 1px;
          margin-right: 1px;
          img {
            width: 299px;
            height: 199px;
            display: block;  
            box-shadow: 0 0 2px #ccc;
          }
        }
      }
    }
  }
  // 食品保健 
  .main-spbj {
    .main-spbj-box {
      height: 400px;
      margin-bottom:30px;
      .main-spbj-l {
        height: 400px;
        width:300px;
        a {
          width: 300px;
          img {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
      }
      .main-spbj-r {
        width: 900px;
        height: 400px;
        a {
          width: 299px;
          height: 199px;
          float: left;
          margin-bottom: 1px;
          margin-right: 1px;
          display: block;
          img {
            width: 299px;
            height: 199px;
            display: block;
            box-shadow: 0 0 2px #ccc;  
          }
        }
      }
    }
  }
  // 品类中心
  .main-plzx {
    .main-plzx-box {
      width: 1200px;
      height:400px;
      margin-bottom: 30px;
      a {
        width: 300px;
        height:200px;
        float: left;
        display: block;
        img {
          width: 100%;
          height: 100%;
          display: block;
          box-shadow: 0 0 2px #ccc;
        }
      }
    }
  }
  .main-ban {
    width: 1200px;
    height: 120px;
    margin-bottom: 30px;
  }
  .layout {
    
    .stfloor {
      height: 243px;
      background: #fff;
      .authorBox {
        width: 376px;
        height:243px;
        overflow: hidden;
        .floorTit {
          padding-left: 15px;
          height: 53px;
          line-height: 53px;
          border-bottom: 1px solid #f5f5f5;
          h2 {
            line-height: 53px;
          }
        }
        .authorList {
          img {
            margin: 0 auto;
          }
          border-bottom: 1px solid #e5e5e5;
          li {
            padding-bottom:8px;
          }
          span {
            font-size: 18px;
            font-weight: normal;
            display: block;
            margin-top: 10px;
            
          }
          em {
            font-size: 11px;
            font-style: normal;
            letter-spacing: -1px;
          }
          .item_CHO {
            width: 166px;
            border-right: 1px solid #e5e5e5;
            text-align: center;
          }
          .item_AEC {
            width: 209px;
            text-align: center;
          }
        }
      }
      .partnerBox {
        position: relative;
        width: 824px;
        .floorT {
          height: 54px;
        }
        h2 {
          line-height: 54px;
        }
        span {
          line-height: 54px;
        }
        ul {
          li {
            float: left;
            border: 1px solid #e5e5e5;
            img {
              width: 204px;
              height: 80px;
            }
          }
        }
      }
    }
  }
}

// 楼层效果
.anchor{
  width: 70px;
  height: 224px;
  position: fixed;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ddd;
  text-align: center;
  font: 12px/30px "";
  color: #333;
  z-index: 1;
  li {
    border: 1px solid #f37474;
    &:hover {
      color: #f13333;
      cursor: pointer;
      background: #f2f2f2;
    }
  }
}

// 底部
footer {
  padding-top: 30px;
  background: #f5f5f5;
  .footerInfo {
    background: #fff;
  }
  .footer-main {
    height: 219px;
    background: #fff;
    border-top: 1px solid #e5e5e5;
    padding-left: 75px;
    .pore {
      margin-top: -1px;
      border-top: 1px solid #ebebeb;
      width: 1200px;
      // padding: 25px -1px 50px 240px;
      background-color: #fff;
      position: relative;
      .footerLogo {
        position: absolute;
        left: 20px;
        top: 28px;
        color: #da2626;
        .blogo {
          width: 140px;
          height: 43px;
          margin-top: 25px;
          overflow: hidden;
          text-indent: -500px;
          img {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
        .p_number {
          font-size: 14px;
          color: #e12626;
          line-height: 1;
          margin-top: 16px;
        }
        .p_time {
          font-size: 12px;
          color: #999;
          line-height: 1;
          margin-top: 6px;
        }
      }
      .dlpos {
        padding: 25px 0 50px 240px;
        dl {
        padding: 25px 25px 0 0;
        float: left;
        dt {
          height: 30px;
          line-height: 30px;
          font-size: 16px;
          color: #999;
          padding-left: 0;
          text-align: left;
          margin-left: 51px;
          font-weight: bold;
          white-space: nowrap;
        }
        dd {
          line-height: 22px;
          padding-left: 0;
          text-align: left;
          margin-left: 51px;
        }
        }
      }
      .scanCode {
        position: absolute;
        width: auto;
        height: auto;
        right: 0;
        top: 53px;
        color: #e12228;
      }
    }
  }
  .aside {
    border-top: 1px solid #ebebeb;
    color: #999;
    .wraper {
      margin-top: -1px;
      background-color: #fff;
      border-top: 1px solid #ebebeb;
      padding-top: 20px;
    }
    .p0_1000 {
      padding: 0 10px;
      font-weight: normal;
      display: inline-block;
      margin: 0 8px;
    }
    a {
      color: #848484;
    }
    p {
      padding-bottom: 3px;
    }
  }
  .footerIcon {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

