.margin {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.colorHong {
    &:hover {
        color: #e13358;
    }
}
.ml10 {
    margin-left: 10px;
}

#top {
    height: 30px;
    line-height: 29px;
    color: #888;
    position: relative;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eaeaea;

    .user {
        a {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin-right: 10px;
            i {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 8px;
                &.sc {
                    background: url("../assets/images/collection.png") no-repeat center;
                    background-size: 155%;
                }
                &.sy {
                    background: url("../assets/images/home.png") no-repeat center;
                    background-size: 155%;
                }
            
            }
        }

        
    }

    .top-fr-list {
        width: 402px;
        .topnav {
            li {
                padding: 0 12px;
                position: relative;

                &.dblock {
                    dd {
                        display: none;
                        background: #fff;
                        border: 1px solid #ddd;
                        position: absolute;
                        top:30px;
                        left: -2px;
                        z-index: 1;
                    }
                    // &:hover {
                    //     dd {
                    //         display: block;
                    //     }
                    // }
                }

            }
        }
    }
}

#header {
    background: #fff;
    border-bottom: 2px solid #e13358;
    height: 107px;
    width: 100%;
    .wraper {
        height: 101px;
        position: relative; 
        a {
            display: inline-block;
            position: absolute;
            color: #666;
            &.logo{
                width:162px;
                height:52px;
                top: 29px;
            }
            &.taobao_link {
                background: url("http://www.kjt.com/Resources/themes/default/Nest/img/taogao_link_bg.png") no-repeat;
                height: 24px;
                width: 228px;
                right: 10px;
                top: 41px;               
            }
        }
    }
}

#Memberlogin {
    width: 100%;
    height: 530px;
    position: relative;
    .Memberlogin-l {
        p {
            font: 700 22px/30px "";
            padding:20px;
        }
    }
    .Memberlogin-r {
        width: 506px;
        margin-top: 70px;
        background: #fff;
        padding: 40px 42px 120px 100px;
        .form {
            height: 35px;
            h3 {
                color: #090909;
                font: normal 25px/35px "";
                float: left;
            }
            a {
                font-size: 14 px;
                float: right;
                color: #08c;
                padding: 10px;
            }
        }
        p {
            text-align: left;
            width: 100%;
            color: #999;
            line-height: 18px;
            margin: 8px 0 6px 0;
        }
        #text {
            width: 248px;
            padding: 6px 34px 6px 14px;
            border: 1px solid #dedede;
            float: none;
            color: #999;
            background-position: 245px 6px;
            font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;
        }
        #pass {
            height: 30px;
            width: 248px;
            padding: 0 34px 0 14px;
            border: 1px solid #dedede;
            float: none;
            font-size: 14px;
            color: #666;
        }
        .login-v {
            height: 35px;
            margin-top: 60px;
            button {
                width: 300px;
                height: 35px;
                font-size: 18px;
                color: #fff;
                background: #e13358;
                border-radius: 4px;
                border: 0;
            }
        }
    }
}

    
#footer {
    padding: 0 0 20px;
    background-color: #fff;
    border-top: 1px solid #f1f1f1;
    text-align: center;
    .wraper {
        position: relative;
    }
    .aside {
        margin-top: 35px;
        border-top: 1px solid #ebebeb;
        color: #999;
        .wraper {
            margin-top: -1px;
            background-color: #fff;
            border-top: 1px solid #ebebeb;
            padding-top: 20px;
            p {
                margin-top: 20px;
                padding-bottom: 3px;
            }
        }
    }
    .footerIcon {
        .item7 {
            background-position: left -276px;
            width: 126px;
            height: 45px;
            display: inline-block;
            background: url("http://www.kjt.com/Resources/themes/default/Nest/img/certi.png") no-repeat;
            font-size: 0;
        }
    }
}