.ml10 {
    margin-left: 10px;
}
.p10_0 {
    padding: 10px 0;
}
#main {
    .crumb {
        border-bottom: 1px solid #f5f5f5;
        background-position: left -56px;
        margin-top: 3px;
        padding-left: 0;
        color: #c40000;
        .inner {
            
            height: 30px;
            line-height: 30px;
            a {
                color: #999;
                &:hover {
                    color: #c40000;

                }
            }
        }
    }
    .proinfo {
        position: relative;
        z-index: 1;
        background: #fff url("http://www.kjt.com/resources/themes/default/Nest/img/dotteboxB.gif") 479px top repeat-y;

        .prozoom {
            width: 450px;
            overflow: hidden;
            .bigimg{
                
                .sBox {
                    width:450px;
                    height:450px;
                    
                    img {
                        width:450px;
                        height:450px;
                    }
                    span {
                        background: url("http://image.kjt.com/g1/M00/00/28/CgoJzVqmK3yAT6chAABi6cRAlqc845_P450.jpg");
                        background-size:450px 450px;position: absolute;
                        left:0;
                        top:0;
                        display: none;
                    }
                }
    
                .bBox {
                    z-index: 1;
                    width:450px;
                    height:450px;
                    position: absolute;
                    left: 480px;
                    top:0;
                    overflow: hidden;
                    display: none;
                    border: #c40000 1px solid;
                    img {
                        width: 900px;
                        height: 900px;
                        position: absolute;
                    }
                }
            }
            .imgzoomlist {

            }
			.proshareB {
                height: 16px;
                line-height: 16px;
                overflow: hidden;
                padding: 15px 15px 15px 15px;
                span {
                    background: url("http://www.kjt.com/resources/themes/default/Nest/img/shareicon.png") left -112px no-repeat;
                    padding-left: 20px;
                }
                a {
                    display: block;
                    float: left;
                    font-size: 12px;
                    line-height: 16px;
                    height: 16px;
                    width: 16px;
                    padding-right: 16px;
                    background-image: url("http://bdimg.share.baidu.com/static/api/img/share/icons_0_16.png?v=91362611.png");
                    background-repeat: no-repeat;
                    cursor: pointer;
                }
                .bds_sqq {
                    background-position: 0 -2652px;
                }
                .bds_tsina {
                    background-position: 0 -104px;
                }
                .bds_weixin {
                    background-position: 0 -1612px;
                }
                .bds_tqq {
                    background-position: 0 -260px;
                }
                .bds_qzone {
                    background-position: 0 -52px;
                }
            }
        }

        .prodetail {
            width: 720px;
            color: #444;

            .prodetail-title {
                background: url("http://www.kjt.com/resources/themes/default/Nest/img/dotteboxB.gif") left bottom repeat-x;
                padding: 10px 20px;
                h1 {
                    font-size: 18px;
                    color: #333;
                    font-weight: normal;
                    font-family: "microsoft yahei";
                    margin-bottom: 6px;
                }
            }
            .mainPrice {
                height: 36px;
                font-size: 30px;
                font-weight: bold;
                line-height: 24px;
            }
            .label {
                display: inline-block;
                float: left;
                width: 65px;
            }
            .prodetail-main {
                position: relative;
                .info {
                    padding-right: 200px;
                    width: 520px;
                    background: url("http://www.kjt.com/resources/themes/default/Nest/img/dotteboxB.gif") 520px top repeat-y;
                    .info-t {
                        ul {
                            
                            .priceinfop {
                                width: 499px;
                                line-height: 88px;
                                height: 88px;
                                background: #f5f5f5;
                                padding-left: 18px;
                                padding-right: 1px;
                                border: 1px solid #fff;
                                border-width: 0 0 0 1px;
                                margin-right: 1px;

                                .price {
                                    background: url("http://www.kjt.com/resources/themes/default/Nest/img/product_sprite.png") -197px 3px no-repeat;
                                    padding-left: 20px;
                                    margin-top: 30px!important;
                                    margin-right: 10px;
                                    position: relative;
                                    color: #c40000;
                                }
                                a {
                                    &.blueB {
                                        color: #007ccf;
                                    }
                                }
                                
                            }
                            .proinfoliB {
                                background: url("http://www.kjt.com/resources/themes/default/Nest/img/dottelineB.gif") left top repeat-x;
                                padding: 7px 20px;  
                                .icon_sales {
                                    display: block;
                                    padding-left: 71px;
                                    padding-right: 40px;
                                    padding-bottom: 2px;
                                    .icon_s {
                                        position: absolute;
                                        margin-left: -71px;
                                        display: inline-block;
                                        height: 0;
                                        padding-left: 0;
                                        padding-top: 25px;
                                        width: 71px;
                                        overflow: hidden;
                                        background-position: left -37px;
                                        background: url("http://www.kjt.com/resources/themes/default/Nest/img/prodetailprom.png") left 6px no-repeat;
                                    }
                                    a {
                                        display: block;
                                        padding: 6px 0 2px;
                                        line-height: 1.5;
                                    }
                                    .red {
                                        color: #c40000;
                                    }
                                }
                            }
                        }
                    }
                    .info-c {
                        clear: both;
                        padding-left: 20px;
                        background: url("http://www.kjt.com/resources/themes/default/Nest/img/dottelineB.gif") left top repeat-x;
                        ul {
                            li {
                                line-height: 30px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                                .label {
                                    
                                }
                            }
                        }
                    }
                    .info-b {
                        clear: both;
                        padding-left: 20px;
                        background: url("http://www.kjt.com/resources/themes/default/Nest/img/dottelineB.gif") left top repeat-x;
                        ul {
                            li {
                                line-height: 30px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                                .probtn {
                                    padding: 15px 0;
                                    overflow: hidden;
                                    .btn_addcart {
                                        width: 182px;
                                        height: 44px;
                                        background: url("http://www.kjt.com/resources/themes/default/Nest/img/product_sprite.png") no-repeat;background-position: left -81px;
                                    }
                                    .btn_addfavor {
                                        height: 44px;
                                        background-position: left -169px;
                                        margin-left: 50px;
                                        background: url("http://www.kjt.com/resources/themes/default/Nest/img/product_sprite.png") no-repeat;
                                    }
                                }
                            }
                        }
                    }
                }
                .saleStores {
                    .storeArea {
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-color: #fff;
                        .mainStore {
                            width: 173px;
                            padding: 0 13px;
                            background-color: #fff;
                            .iconStore {
                                position: relative;
                                padding-top: 11px;
                                padding-bottom: 11px;
                                color: #333;
                                display: block;
                                padding-left: 39px;
                                &:before {
                                    display: inline-block;
                                    position: absolute;
                                    content: "";
                                    height: 44px;
                                    width: 35px;
                                    left: 0;
                                    top: 0;
                                    background: url("http://www.kjt.com/resources/themes/default/Nest/img/prodetailprom.png") left -73px no-repeat;
                                }
                            }
                            .shopinfo {
                                background: url("http://www.kjt.com/resources/themes/default/Nest/img/dottelineB.gif") left top repeat-x;
                                color: #333;
                                ul {
                                    li {
                                        height: 30px;
                                        line-height: 30px;
                                        label {
                                            float: left;
                                            display: inline;
                                            color: #666;
                                        }
                                    }
                                }
                            }
                            .certification {
                                padding: 10px 0;
                                background: url("http://www.kjt.com/resources/themes/default/Nest/img/dottelineB.gif") left top repeat-x;
                                color: #333;
                                ul {
                                    .customs {
                                        height: 30px;
                                        line-height: 30px;
                                        background: url("http://www.kjt.com/resources/themes/default/Nest/img/prodetailprom.png") 1px -160px no-repeat;
                                        padding-left: 30px;
                                    }
                                    .CIQ {
                                        height: 30px;
                                        line-height: 30px;
                                        background: url("http://www.kjt.com/resources/themes/default/Nest/img/prodetailprom.png") 1px -125px no-repeat;
                                        padding-left: 30px;
                                    }
                                }
                            }
                            .action {
                                background: url("http://www.kjt.com/resources/themes/default/Nest/img/dottelineB.gif") left top repeat-x;
                                color: #333;
                                li {
                                    line-height: 30px;
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                }
                                .intoshop {
                                    display: block;
                                    background: url("http://www.kjt.com/resources/themes/default/Nest/img/product_sprite.png") no-repeat;
                                    width: 132px;
                                    height: 34px;
                                    background-position: left -691px;
                                }
                                .favorites {
                                    display: block;
                                    background: url("http://www.kjt.com/resources/themes/default/Nest/img/product_sprite.png") no-repeat;
                                    width: 132px;
                                    height: 34px;
                                    background-position: left -772px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }   
    .details {
        margin-top: 10px;
        .details-nav {
            font-size: 16px;
            
            color: #333;
            height: 36px;
            line-height: 36px; 
            .nav-l {
                p {
                    width: 213px;
                    font-weight: 700;
                }
            }
            .nav-c {
                a {
                    color: #333;
                    padding: 0 10px;
                    &:hover {
                        color: #c40000;
                    }
                    &.active {
                        font-weight: 700;
                        color: #c40000;
                    }
                }
            }
        }
        .details-main {
            .main-l {
                width: 213px;
                height: 227px;
                margin-top: 10px;
                background: #fff;
                padding-left: 10px;
                ul {
                    li {
                        position: relative;
                        top: 1px;
                        float: left;
                        width: 96px;
                        background: url("http://www.kjt.com/resources/themes/default/Nest/img/line_doteA.png") left bottom repeat-x;
                        line-height: 26px;
                        height: 27px;
                        overflow: hidden;
                        
                        a {
                            color: #626164;
                            padding-left: 16px;
                            display: block;
                            line-height: 26px;
                            background: url("http://www.kjt.com/resources/themes/default/Nest/img/dotlist.gif") 6px 13px no-repeat;
                            height: 27px;
                        }
                    }
                }
            }
            .main-r {
                width: 927px;
                .main-r-t {
                    background: #fff;
                }
                .main-r-b {
                    background: #fff;
                    padding: 25px;
                    margin-top: 10px;
                }
            }
        }
    }
}
